:root {
  min-height: 100dvh;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Fira Code', sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e9e6e6ff;
    --background: #222222ff;
    --primary: #a8c6adff;
    --secondary: #384c63ff;
    --accent: #54a4b8ff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #222222ff;
    --background: #dededeff;
    --primary: #bd5757ff;
    --secondary: #9db1c8ff;
    --accent: #4795a9ff;
  }
}

body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

main {
  padding: 1rem;
  margin: 1rem;
  max-width: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
  min-width: 320px;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  font-size: 0.8rem;
  text-align: center;
}

th,
td {
  padding: 4px;
  text-align: center;
}
